@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Sevillana&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Sedan SC" Serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary-color:#093c67;
    --secondary-color:#f8f9fa;
    --background-color:rgb(6,6,50);
    --text-color:#9e0a0a;
    --hover-color:rgb(197,182,182);
    --grid-gutter-width: 1rem;
    --font-size-base: 16px;
    --brand-font: "Open Sans" ,sans-seriff;
    --border-radius: .25rem;
    --shadow-color:rgba(0,0,0,0.15);
    --font-family:"Sedan SC" ,sertif;
    --font-weight:400;
    --font-style: normal;
    }


    .navbar{
        background-color: var(--background-color);
    }

    .navbar .nav-link{
        color: var(--text-color);
    }

    .navbar .nav-link:hover{
        color: var(--hover-color);
    }

    .btn1{
        width: 100px;
        height: 52px;
        border-style:none ;
        background-color: transparent;
        color: white;
        border-radius: 4px;
}

.btn1:hover{
    background-color: #9e0a0a;
    transition: 1s;
}

.btn2{
    width: 100px;
    height: 52px;
    border-style: none;
    background-color: #9e0a0a;
    color: white;
    border-radius: 4px;
}

/* Home Section */
.home{
    padding-top: 200px;
    background-image: url(./images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
    background-size:cover ;
    width:100% ;
    height:100vh ;
}

.content h2{
    font-weight:900;
    text-shadow: 1px 1px 2px aliceblue;
    font-size: 35px;
}

.content input{
    width: 80%;
    height: 71px;
    border-style: none;
    border-radius: 3px;
}

.btn3{
    width: 18%;
    height: 71px;
    background-color: #9e0a0a;
    color: white ;
    border-style: none;
    margin-left: -4px;
}

/* Services Section */
.col-md-4 img{
  width: 100%; 
  height: 250px; 
}

/* project section */
.icons .bi{
    font-size:25px ;
    color: rgb(9,9,106);
}


